# clangd configuration file
# See https://clangd.llvm.org/config for details

CompileFlags:
  # Add C++20 standard
  Add: 
    - -std=c++20
    - -Wall
    - -Wextra
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.property_tree+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.any+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.config+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.core+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.throw_exception+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.assert+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.static_assert+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.preprocessor+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.type_traits+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.mpl+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.iterator+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.range+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.optional+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.smart_ptr+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.multi_index+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.bind+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.asio+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.type_index+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.container_hash+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.describe+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.algorithm+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.array+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.atomic+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.chrono+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.concept_check+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.container+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.context+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.conversion+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.coroutine+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.date_time+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.detail+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.endian+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.exception+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.function+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.functional+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.function_types+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.fusion+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.integer+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.intrusive+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.io+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.lexical_cast+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.move+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.mp11+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.numeric_conversion+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.phoenix+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.pool+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.predef+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.proto+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.ratio+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.rational+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.regex+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.serialization+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.spirit+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.utility+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.variant+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.variant2+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.winapi+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.align+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.tuple+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.system+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.thread+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.tokenizer+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.typeof+/include
    - -I/home/user/programs/eros-ws/eros/cytoskeleton/cytoskeleton-cpp/bazel-cytoskeleton-cpp/external/boost.unordered+/include
  
  # Remove flags that clangd doesn't understand
  Remove: [-fno-canonical-system-headers, -fdebug-compilation-dir, -fstack-usage]

Index:
  # Enable background indexing
  Background: Build

Diagnostics:
  # Enable all clang-tidy checks
  ClangTidy:
    Add: ["*"]
    Remove: 
      - "fuchsia-*"
      - "google-*"
      - "llvm-*"
      - "llvmlibc-*"
      - "altera-*"
      - "modernize-use-trailing-return-type"

InlayHints:
  # Enable inlay hints
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Completion:
  # Enable all completion features
  AllScopes: true
